<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

    <title>Contact</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Sudhanshu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'projects' %}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
      </li>
    </ul>

  </div>
</nav>

<div class="container">

  <h2 class="text-center my-3">Contact Me</h2>

  <form action="{% url 'contact' %}" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
  </div>

     <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
  </div>

     <div class="form-group">
    <label for="phone">Phone no.</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Your Phone Number">
  </div>


  <div class="form-group">
    <label for="desc">Explain Your Concern</label>
    <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
  </div>
    <h5 class="text-center"> <button type="submit" class="btn-success" >Submit</button></h5>
</form>
</div>

<div class="fixed-bottom">
  <footer class="text-center text-light bg-dark">Copyright Sudhanshu | All rights reserve </footer>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
  </body>
</html>